rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // ===============================================================
    // Helper Functions
    // ===============================================================
    function isAuthenticated() {
      return request.auth != null;
    }
    
    function isOwner(userId) {
      return isAuthenticated() && request.auth.uid == userId;
    }
    
    function isDocOwner() {
      return isAuthenticated() && request.auth.uid == resource.data.userId;
    }

    function isNewDocOwner() {
      return isAuthenticated() && request.auth.uid == request.resource.data.userId;
    }

    // ===============================================================
    // Rules
    // ===============================================================
    
    match /users/{userId} {
      allow read: if isOwner(userId);
      allow create: if isOwner(userId) && request.resource.data.uid == userId;
      allow update: if isOwner(userId) && request.resource.data.uid == userId;
    }
    
    match /trades/{tradeId} {
      allow read: if isDocOwner();
      allow create: if isNewDocOwner();
      allow update: if isDocOwner() && isNewDocOwner();
    }
    
    match /transactions/{transactionId} {
      allow read: if isDocOwner();
      allow create: if isNewDocOwner();
      allow update: if isDocOwner() && isNewDocOwner();
    }
  }
}